* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

#icon p {
  display: none;
}

.click {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./img/background15.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#mobile {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 50px;
    height: 50px;
  }

  & ul {
    width: 50%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;

    & li {
      font-family: "Baloo Bhaijaan 2", cursive;
      text-align: center;
      margin-right: 30px;

      &:hover {
        cursor: pointer;
      }
      & i {
        color: rgba(122, 70, 70, 0.911);
        margin-right: 5px;
      }
    }
  }
}

#icon img,
#icon i {
  display: none;
}

#mobile_footer {
  // border: 1px solid red;
  position: relative;
  width: 100%;
  height: 50vh;
  & img:nth-child(1) {
    opacity: 0.7;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    bottom: 0;
    animation: heel01 5s steps(6, end) forwards;
    animation-iteration-count: 1;
  }
  & img:nth-child(2) {
    opacity: 0.7;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    bottom: 50px;
    animation: heel01 5s steps(6, end) forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
  }
  & img:nth-child(3) {
    opacity: 0.7;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -50px;
    bottom: 100px;
    animation: heel02 5s steps(6, end) forwards;
    animation-iteration-count: 1;
    animation-delay: 5.8s;
  }
  & img:nth-child(4) {
    opacity: 0.7;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -50px;
    bottom: 150px;
    animation: heel02 5s steps(6, end) forwards;
    animation-iteration-count: 1;
    animation-delay: 5.3s;
  }
}

@keyframes heel01 {
  to {
    transform: translateX(-500px);
  }
}
@keyframes heel02 {
  to {
    transform: translateX(500px);
  }
}

@media (min-width: 551px) and (max-width: 984px) {
  #mobile {
    position: relative;
    & ul {
      position: absolute;
      top: 10%;
      width: 100%;
      height: 20%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;

      & li {
        font-family: "Baloo Bhaijaan 2", cursive;
        text-align: center;
        margin-right: 30px;
      }
    }
  }

  #mobile_footer {
    & img:nth-child(1),
    & img:nth-child(2) {
      right: -200px;
      animation: heel01 8s steps(13, end) inifinite forwards;
      animation-iteration-count: 3;
    }
    & img:nth-child(2) {
      animation-delay: 0.3s;
    }
    & img:nth-child(3),
    & img:nth-child(4) {
      display: none;
    }
  }

  @keyframes heel01 {
    to {
      transform: translateX(-1300px);
    }
  }
}

@media (min-width: 985px) and (max-width: 1200px) {
  #mobile,
  #mobile_footer {
    display: none;
  }

  #icon img,
  #icon i,
  .click {
    display: block;
  }

  body {
    background-image: url("./img/background17.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .click{
    position: relative;
  }

  .click i {
    margin-right: 10px;
  }

  .click .fa-moon {
    color: gold;
    font-size: 30px;
    opacity: 0.6;
  }
  .click .fa-redhat {
    color: rgba(185, 131, 131, 0.815);
    font-size: 30px;
    opacity: 0.6;
  }
  
  .click img {
    width: 30px;
    height: 30px;
    opacity: 0.6;
  }

  .click ul {
    display: flex;
  }

  .clickme img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 40px;
  }

  #icon .fa-moon {
    color: gold;
    position: absolute;
    font-size: 70px;
    top: 55%;
    left: 54%;
    opacity: 0.3;
    animation: erring 3s forwards infinite;
  }

  #icon p {
    display: block;
    position: absolute;
    top: 23%;
    left: 42%;
    font-family: "Pacifico", cursive;
    color: rgba(185, 131, 131, 0.815);
    font-size: 80px;
    animation: menu 3s forwards;
  }

  #icon .fa-redhat {
    color: rgb(163, 67, 67);
    position: absolute;
    font-size: 200px;
    top: 0;
    left: 64%;
    opacity: 0.3;
    animation: hat 3s infinite forwards;
  }

  .lip img {
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 61%;
    left: 30%;
    opacity: 0.3;
    animation: lip 3s infinite forwards;
  }

  #icon .fa-moon:hover,
  #icon .fa-redhat:hover,
  .lip img:hover {
    animation: rolling 1s forwards;
    opacity: 1;
  }

  @keyframes erring {
    0% {
      transform: rotate(-35deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-35deg);
    }
  }

  @keyframes hat {
    0% {
      transform: rotate(35deg);
    }
    50% {
      transform: rotate(25deg);
    }
    100% {
      transform: rotate(35deg);
    }
  }

  @keyframes lip {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes rolling {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes menu {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}
