* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

#icon p,
#icon img,
#icon i,
.click {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./img/background15.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#mobile {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mobile img {
  width: 50px;
  height: 50px;
}

#mobile ul {
  width: 50%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

#mobile ul li {
  font-family: "Baloo Bhaijaan 2", cursive;
  text-align: center;
  margin-right: 30px;
}

#mobile ul li:hover {
  cursor: pointer;
}

#mobile ul li i {
  color: rgba(122, 70, 70, 0.911);
  margin-right: 5px;
}

#mobile_footer {
  position: relative;
  width: 100%;
  height: 50vh;
}

#mobile_footer img:nth-child(1) {
  opacity: 0.7;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -50px;
  bottom: 0;
  -webkit-animation: heel01 5s steps(6, end) forwards;
          animation: heel01 5s steps(6, end) forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#mobile_footer img:nth-child(2) {
  opacity: 0.7;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -50px;
  bottom: 50px;
  -webkit-animation: heel01 5s steps(6, end) forwards;
          animation: heel01 5s steps(6, end) forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#mobile_footer img:nth-child(3) {
  opacity: 0.7;
  width: 45px;
  height: 45px;
  position: absolute;
  left: -50px;
  bottom: 100px;
  -webkit-animation: heel02 5s steps(6, end) forwards;
          animation: heel02 5s steps(6, end) forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 5.8s;
          animation-delay: 5.8s;
}

#mobile_footer img:nth-child(4) {
  opacity: 0.7;
  width: 45px;
  height: 45px;
  position: absolute;
  left: -50px;
  bottom: 150px;
  -webkit-animation: heel02 5s steps(6, end) forwards;
          animation: heel02 5s steps(6, end) forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
}

@-webkit-keyframes heel01 {
  to {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@keyframes heel01 {
  to {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@-webkit-keyframes heel02 {
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@keyframes heel02 {
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@media (min-width: 551px) {
  #mobile {
    position: relative;
  }
  #mobile ul {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  #mobile ul li {
    font-family: "Baloo Bhaijaan 2", cursive;
    text-align: center;
    margin-right: 30px;
  }
  #mobile_footer img:nth-child(1),
  #mobile_footer img:nth-child(2) {
    right: -200px;
    -webkit-animation: heel01 8s steps(13, end) inifinite forwards;
            animation: heel01 8s steps(13, end) inifinite forwards;
    -webkit-animation-iteration-count: 5;
            animation-iteration-count: 5;
  }
  #mobile_footer img:nth-child(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  #mobile_footer img:nth-child(3),
  #mobile_footer img:nth-child(4) {
    display: none;
  }
  @-webkit-keyframes heel01 {
    to {
      -webkit-transform: translateX(-1300px);
              transform: translateX(-1300px);
    }
  }
  @keyframes heel01 {
    to {
      -webkit-transform: translateX(-1300px);
              transform: translateX(-1300px);
    }
  }
}
/*# sourceMappingURL=style.css.map */