* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

// mobile
#icon p,
#icon img,
#icon i,
.click {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./img/background15.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#mobile {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 50px;
    height: 50px;
  }

  & ul {
    width: 50%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;

    & li {
      font-family: "Baloo Bhaijaan 2", cursive;
      text-align: center;
      margin-right: 30px;

      &:hover {
        cursor: pointer;
      }
      & i {
        color: rgba(122, 70, 70, 0.911);
        margin-right: 5px;
      }
    }
  }
}

#mobile_footer {
  // border: 1px solid red;
  position: relative;
  width: 100%;
  height: 50vh;
  & img:nth-child(1) {
    opacity: 0.7;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    bottom: 0;
    animation: heel01 5s steps(6, end) forwards;
    animation-iteration-count: 1;
  }
  & img:nth-child(2) {
    opacity: 0.7;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    bottom: 50px;
    animation: heel01 5s steps(6, end) forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
  }
  & img:nth-child(3) {
    opacity: 0.7;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -50px;
    bottom: 100px;
    animation: heel02 5s steps(6, end) forwards;
    animation-iteration-count: 1;
    animation-delay: 5.8s;
  }
  & img:nth-child(4) {
    opacity: 0.7;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -50px;
    bottom: 150px;
    animation: heel02 5s steps(6, end) forwards;
    animation-iteration-count: 1;
    animation-delay: 5.3s;
  }
}

@keyframes heel01 {
  to {
    transform: translateX(-500px);
  }
}
@keyframes heel02 {
  to {
    transform: translateX(500px);
  }
}

// tablet
@media (min-width: 551px) {
  #mobile {
    position: relative;
    & ul {
      position: absolute;
      top: 10%;
      width: 100%;
      height: 20%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;

      & li {
        font-family: "Baloo Bhaijaan 2", cursive;
        text-align: center;
        margin-right: 30px;
      }
    }
  }

  #mobile_footer {
    & img:nth-child(1),
    & img:nth-child(2) {
      right: -200px;
      animation: heel01 8s steps(13, end) inifinite forwards;
      animation-iteration-count: 5;
    }
    & img:nth-child(2) {
      animation-delay: 0.3s;
    }
    & img:nth-child(3),
    & img:nth-child(4) {
      display: none;
    }
  }

  @keyframes heel01 {
    to {
      transform: translateX(-1300px);
    }
  }
}